APP_MONGO_HOST=localhost
APP_MONGO_PORT=27017
APP_MONGO_USERNAME=admin
APP_MONGO_PASSWORD=admin
APP_MONGO_DB=datasets
APP_MONGO_AUTH_SOURCE=admin
APP_CORS_ALLOW_ORIGINS=["http://localhost:5173"]
APP_LOG_LEVEL=INFO
APP_ENVIRONMENT=local
