# Зависимости для работы с MongoDB
pymongo==4.6.0

# Для работы с JSON (если нужно)
# python-dotenv==1.0.0

# Для красивого вывода таблиц (опционально)
prettytable==3.9.0

# Для генерации тестовых данных (опционально)
faker==20.1.0